* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Trebuchet MS';
}

#header {
    height: 20vh;
    background-color: white;
    background-position: center;
    background-size: cover;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    text-shadow: #777;

}

.container {
    margin-right: 100px;
    margin-left: 100px
}

.logo {
    margin-top: 30px;
    width: 200px;
}

.header-text {
    max-width: 350px;
    margin-top: 140px;

}

.square {
    height: 12px;
    width: 12px;
    display: inline-block;
    background-color: rgb(129, 178, 243);
    margin: 15px 0;
}

.common {
    padding: 18px 14px;
    background: transparent;
    outline: none;
    border: 2px solid rgb(129, 178, 243);
    font-weight: bold;
}

p {
    font-size: 15px;
    line-height: 18px;
    color: #777;

}

.header-text button {
    margin-top: 20px;
    margin-bottom: 60px;

}

#side {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250;
    top: 0;
    background: #f67c92;
    z-index: 2;
    transition: 0.5s;

}

nav ul li {
    list-style: none;
    margin: 50px 20px;

}

nav ul li {
    text-decoration: none;
    color: white;
    text-align: left;
}

#menubtn {
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;

}

#couns {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 100px;
    box-shadow: rgb(129, 178, 243);


}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    padding: 10px;

}


.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}




.col {
    flex-basis: 31%;
    background: rgba(129, 178, 243, 0.698);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 10px 12px;
    box-sizing: border-box;
    box-shadow: rgb(129, 178, 243);
}

.card {

    margin: 8px;
}

.contain {

    padding: 0 16px;
    margin-left: 0%;
}

.contain img {
    border-radius: 95%;

}

.contain::after,
.row::after {

    content: "";
    clear: both;
    display: table;
}

.title {
    color: black;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}





#footer {
    padding: 50px 0 30px;

}

hr {
    width: 100%;
    border: 0;
    border-top: 1px solid rgb(129, 178, 243);

}

.footer-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-right-col {
    flex-basis: 50%;
    margin-top: 60px;

}

.footer-left-col {
    flex-basis: 35%;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link-title h4 {
    color: #f67c92;
    margin-bottom: 20px;

}

.link-title small {
    font-size: 13px;
    color: #777;

}

.footer-info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.footer-logo img {
    width: 100px;


}

.footer-logo button {
    padding: 12px 38px;
    margin-top: 20px;
    font-size: 10px;

}

.copyright,
.footer-logo {
    flex-basis: 40%;

}

.socialicon {
    width: 50px;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;

}

.socialicon img {
    display: block;
    width: 20px;
    margin: 0 auto 20px;
    cursor: pointer;
}